{% extends 'base.html' %}
{% import "_macros.html" as macros %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Accountants Database{% endblock %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Company</th>
        <th>Specialty</th>
        <th>About</th>
      </tr>
    </thead>
    <tbody>
      {% for accountant in accountants %}
        <tr>
          <td>{{ accountant.name }}</td>
          <td>{{ accountant.email }}</td>
          <td>{{ accountant.phone_num }}</td>
          <td>{{ accountant.company }}</td>
          <td>{{ accountant.specialty }}</td>
          <td>{{ accountant.about_me }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
